body {
  background-image: url('../../icons/background.jpg');

  & div#root {
    min-height: 100dvh;
    max-height: 100dvh;
    border-radius: 10px;
    background-color: var(--back);
    backdrop-filter: blur(1.5px);
    display: grid;
    place-items: center;
    grid-template-rows: 6dvh 94dvh;
    grid-template-columns: 100%;
    transform: scale(0.99);
    overflow: hidden;

    & header {
      position: relative;
      height: 100%;
      width: 100%;
      line-height: 6dvh;
      font-size: 1.5rem;
      font-weight: 900;
      color: var(--text);
      /* text-align: left; */
      background-color: var(--accent);
      border-radius: 10px;
      /* padding: 0 0 0 10px; */
      display: grid;
      place-items: center;
      grid-template-columns: calc(100% - 6dvh) 6dvh;

      & span {
        height: 100%;
        text-align: left;
        width: 100%;
        line-height: 6dvh;
      }

      & img {
        max-height: calc(6dvh - 2px);
        min-height: calc(6dvh - 2px);
        max-width: calc(6dvh - 2px);
        object-position: center;
        object-fit: contain;
        overflow: hidden;
        border-radius: 50vh;
        background-color: black;
      }
      & img:hover{
        box-shadow: 2px 2px 4px #00000080,-2px -2px 4px #00000080;
        transform: rotate(45deg),scale(0.9);
      }
    }

    & main {
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
      text-align: center;
      word-break: break-all;
      grid-template-columns: 300px calc(100% - 300px);
      grid-auto-rows: 100%;
      & section{
        width: 100%;
        height: 100%;
        transform: scale(0.99);
        border-radius: 10px;
      }
      & section#chats{
       background-color: #565656; 
      }
      & section#users{
        background-color: #797979;
        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 10vh;
        place-items: center;
        & div.users{
          scale: 0.99;
        }
      }
    }
  }
}