body{
  background-image: url('../../icons/background.jpg');
  & div#root{
    min-height: 100lvh;
    max-height: 100lvh;
    border-radius: 10px;
    transform: scale(0.99);
    background-color: var(--back);
    backdrop-filter: blur(2px);
    display: grid;
    place-items: center;
    grid-template-rows: 6dvh calc(88dvh - 8px) 6dvh;
    gap:4px;
    overflow: hidden;
    & header{
      height: 100%;
      width: 100%;
      line-height: 6dvh;
      font-size: 1.5rem;
      font-weight: 900;
      color: var(--text);
      text-overflow: ellipsis;
      text-align: left !important;
      overflow: hidden;
      text-align: center;
      background-color: var(--accent);
      padding-left:5px;
      border-radius: 10px;
    }
    & main{
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
      grid-template-columns: 100%;
      grid-auto-rows: 250px;
      & form{
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        justify-content: space-evenly;
        grid-template-columns: 250px calc(100% - 250px);
        grid-auto-rows: 125px;
        grid-template-areas: 'img email'
        'img name';
        & label{
          max-height: 80%;
          max-width: 80%;
          min-height: 0;
          min-width: 0;
          display: grid;
          place-items: center;
          grid-area: img;
          & img{
            height: 100%;
            width: 100%;
            overflow: auto;
            object-fit: contain;
          }
        }
        & input[type]{
          position: relative;
          min-height: 6dvh;
          width: 80%;
          font-weight: 700;
        }
        & input[type="submit"]{
          position: absolute;
          display: inline-block; 
          z-index: 2; 
          bottom: 0; 
          right: calc(calc(100% - 250px) / 2);
          font-size: 14px; 
          width: fit-content; 
          min-height: 6dvh;
          padding: 5px;
          background-color: var(--accent);
        }
      }
    }
    & footer{
      height: 100%;
      width: 100%;
      line-height: 6dvh;
      font-size: 1.5rem;
      font-weight: 900;
      color: var(--text);
      text-overflow: ellipsis;
      overflow: hidden;
      overflow: hidden;
      background-color: var(--accent);
      border-radius: 10px;
    }
  }  
}
@media only screen and (max-width:768px) {
  body{
    & div#root{
      main{
        grid-auto-rows: 500px;
        & form{
          grid-auto-columns: 100%;
          grid-template-columns: repeat(auto-fill,50%);
          grid-template-rows: 50% 25% 25%;
          grid-template-areas: 'img img'
          'name name'
          'email email';
          & input[type="submit"]{ 
            right: unset;
          }
        }
      }
    }
  }
}